global_defs {
    enable_script_security
    script_user keepalivedScript
}

vrrp_script check_haproxy {
    script "/home/keepalivedScript/keepalivedScript"
    weight 20
    interval 1
}

vrrp_instance agama {             
    interface ens3
    virtual_router_id 1
    {% if inventory_hostname  == 'Jns234-1' %}
    priority 110
    {% else %}
    priority 100
    {% endif %}
    advert_int 1                            
    virtual_ipaddress {                     
        192.168.100.{{hostvars['Jns234-1']['ansible_default_ipv4']['address'].split('.')[3]}}/24            
        192.168.101.{{hostvars['Jns234-1']['ansible_default_ipv4']['address'].split('.')[3]}}/24            
    }
    unicast_peer {                          
        {% for vm in groups['keepalived']  %}
        {% if inventory_hostname  != vm %}
        {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}