acl nets { {{ local_ip_self }}; {{local_ip_second }}; };

options {

directory "/var/lib/bind";

forwarders {
    {% for forwarder in dns_forwarders %}
    {{ forwarder }};
    {% endfor %}
};
allow-query { nets; };
    dnssec-validation no;
};

statistics-channels {
  inet {{ bind_exporter_addr}} port {{ bind_exporter_port}} allow { {{ bind_exporter_addr}}; };
};