{% if inventory_hostname in groups['dns_master'] %}
zone "{{ domain_dotles }}" {
    type master;
    allow-transfer { key dns_transfer_key; };
    allow-update { key dns_update_key; };
    file "/var/cache/bind/db.jankang.jk";
};
{% endif %}
{% if inventory_hostname in groups['dns_slaves'] %}
{% for vm in groups['dns_master'] %}
server {{ hostvars[vm]['ansible_default_ipv4']['address'] }} {
    keys {dns_transfer_key; };
};
{% endfor %}

zone "{{ reverse_domain }}" {
    type slave;
    masters { {{ hostvars[groups['dns_master'][0]]['ansible_default_ipv4']['address'] }}; };
    file "/var/cache/bind/db.reversed";
};
{% endif %}
